<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nutrikit's Team.</title>
  </head>

  <body style="margin: 0; padding: 0">
    <div style="display: flex;justify-content: center;
  align-items: center;text-align: center; background-color: aliceblue; height: 80px; border-width: 1px">
      <p style="font-size: 20px; margin: auto; padding: 0px; margin: auto; margin: 0; text-align: center">
        Nutrikit Team.</p>
    </div>
    <div style="justify-content: center; align-items: center; display: flex;">
      <div style="align-self: center;">
        <p style="font-size: 14px; font-family: 'Arial';">

          Hello! {{full_name}}

          Your One-Time PIN is
        <p style="font-size: 14px; font-family: 'Arial'; font-weight: bold"> {{ otp }} </p>
        . Enter this code to confirm registration (or password reset).It will be valid for 5 minutes. For your
        protection, please do not share this code with anyone.
        </p>
        <p style="font-size: 14px; font-family: 'Arial'; color: #878787;">Keep Safe!
          Nutrikit's Team.</p>
        <div style="border: 1px solid grey"></div>
      </div>
    </div>
  </body>

</html>